<!DOCTYPE html>
<head>
    <title>Recomender System</title>
    <link rel="stylesheet" href="%% url_for('static', filename='css/argon-design-system.min.css') %%">
    <style>
    p {
      color: #32325d
    }
    </style>

</head>

<body class="bg-secondary">
  <div class="section section-components">
    <div class="bg-secondary">
      <div class="container">
        <h2>Property Recomendation System with Spark</h2>
      </div>

      <div id="app" class="container">

        <div class="form-group mb-2">
          <textarea v-model="getKeyword" placeholder="Input Keyword" class="form-control form-control-alternative" rows="5"></textarea>
          <button @click="update" class="btn btn-md btn-primary">Get Recomendation</button>
        </div>

        <div v-if="loading == 1">
        </div>

        <div v-else-if="loading == 2">
          Getting the data...
        </div>

        <div v-else>
          <div v-if="data.length>0" class="mb-2">
              {{ data.length }} data similiar
          </div>
          <div v-if="data.length==0" class="card shadow mb-2">
            <div class="card-body">
              No Data Similiar...
            </div>
          </div>
          <div v-else v-for="item in data" class="card shadow mb-2">
            <a :href="`${item.url}`" target="_blank" rel="nofollow">
              <div class="card-body">
                <h5 class="title"> {{ item.name }} </h5>
                <p class="mb-0"> Similiarity Score: <strong>{{ item.score }}</strong> </p>
                <p class="mb-0"> Source: <strong>{{ item.source }}</strong> </p>
                <hr class="m-2">
                <p class="description mb-0">{{ item.text }}</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
new Vue({
  el: '#app',
  data () {
    return {
      data: null,
      getKeyword: '',
      keyword: null,
      loading: 1,
    }
  },
  methods: {
    update: function () {
      this.keyword = this.getKeyword;
      this.loading = 2
      axios
        .get('http://127.0.0.1:5000/api/analytics/?q=' + this.keyword)
        .then(response => (this.data = response.data))
        .finally(() => this.loading = 3)
    },
  },
})
</script>
</body>
</html>
